ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #a5a58d;
}

h1{
  background-color: #cb997e;
  font-family: monospace;
  font-size: 6em;
  text-align: center;
  color: Black;
  padding-top: 20px;
  padding-bottom: 20px;
}

header img {
  margin-left: 17%;
}

header nav {
  background-color: #ddbea9;
  align-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  align-items: center;
  margin-right: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

header nav li {
  font-family: monospace;
  font-size: 3em;
}

a {
  color: rgb(107, 107, 107);
  text-decoration: none;
}

main img {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#family {
  font-size: 2em;
  background-color: #ffe8d6;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#family h2 {
  padding-left: 100px;
  font-size: 2em;
}

#family p {
  padding-left: 100px;
}

#cutter {
  font-size: 2em;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cutter h2 {
  font-size: 2em;
  text-align: center;
}

#cutter p {
  padding-left: 100px;
  padding-right: 100px;
}

#tshirt {
  font-size: 2em;
  background-color: #ffe8d6;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tshirt img {
  padding-right: 200px;
}

#tshirt h2 {
  font-size: 2em;
  text-align: center;
}

#tshirt p {
  padding-left: 200px;
  padding-right: 100px;
}

footer {
  background-color: #ddbea9;
  display: flex;
  justify-content: space-evenly;
}

footer img {
  margin-left:200px;
}

#ul1 h2 {
  margin-top: 40px;
  padding-right: 400px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}

#ul1 li {
  font-size: 1.8em;
  margin-left: 30%;
  padding-top: 10px;
}

#ul2 h2 {
  margin-top: 40px;
  margin-right: 1300px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}

#ul2 li{
  font-size: 1.8em;
  margin-left: 30%;
  padding-top: 10px;
}