ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1{
  background-color: lightgrey;
  font-family: monospace;
  font-size: 5em;
  text-align: center;
  color: Black;
}

header img {
  margin-left: 17%;
}

header nav {
  background-color: lightgreen;
  align-content: center;
  margin-bottom: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  align-items: center;
  margin-right: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

header nav li {
  font-family: monospace;
  font-size: 2em;
}

a {
  color: rgb(107, 107, 107);
  text-decoration: none;
}

main img {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

table{
  background-color: lightgreen;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

th{
  background-color: lightyellow;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  width: 6.25%;
}

td{
  border: 1px solid black;
  text-align: center;
  width: 6.25%;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer {
  background-color: lightgreen;
  position: static;
  height: 100%;
  width: 100%;
}

footer p {
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  padding-top: 1.5%

}

footer nav {
  background-color: lightgreen;
  align-content: center;
  padding-top: 1%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

footer nav li {
  font-family: monospace;
  font-size: 1.5em;
}